.contador{
    padding: 0 2em 0 2em;
    margin: 0 0.2em 0 1.6em;
    font-weight: bold;
    border-radius: 3px;
    align-items: center;
    
}

.itemCard{
    margin: 0 auto;
    background-color: blue;
    border: 5px black;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.addToCartButton{
  width: 200px;
  margin: 0 auto;
    
}