.contador{
align-items: center;
justify-content: center;
margin: 2px;
padding: 25px;
}

.itemCard{
    margin: 0 auto;
    background-color: blue;
    border: 5px black;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.addToCartButton{
  width: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}