header{
    background-color: rgb(38, 31, 121);
    display:flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    

}
img{
    max-width: 3%;
    padding: 10px;
    border-radius: 25px;
    height: auto;
    background-size: contain;
}

nav{
    position: relative;
    width: 590px;
    background: #4349a1;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.3)
}

nav a{
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    justify-content: center;
}